[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
yfinance = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-swagger = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "flask run"
upgrade = "flask db upgrade"
migrate = "flask db migrate"
downgrade = "flask db downgrade"