.stock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stock-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 800px;
    margin: auto;
}

.stock-content h4 {
    text-align: center;
}

.stock-content label {
    margin-bottom: 8px;
}

.stock-content input {
    margin-bottom: 8px;
    padding: 8px;
    width: calc(100% - 20px);
    border-radius: 5px;
    border: 1px solid #ccc;
}

.stock-content button {
    padding: 10px;
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.stock-content button:hover {
    background: #0056b3;
}

.stock-content p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

.reset-button {
    background: #dc3545;
}

.reset-button:hover {
    background: #c82333;
}